.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
#root, .full-height, body, html {
  height: 100%;
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 20px 20px 40px 20px;
  background: #eee;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.header .logo {
  float: left;
  margin-right: 30px;
}

.header .left {
  float: left;
}
.header .right {
  float: right;
}

.header .top {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header .message {
  font-size: 10px;
  margin-bottom: 30px;
}

.header .logo img {
  width: 40px;
  height: 40px;
}

.gallery {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: left;
  border-top: 1px solid #ccc;
  padding: 20px;
  background-color: #eee;
  width: 100%;
}

.pointForm {
  text-align: center;
  position: absolute;
  background-color: #cccccc;
  z-index: 100;
  color: white;
}

.pointForm textarea, .pointForm .dropzone, .pointForm button{
  width: 50%;
  display: table-cell;
}
.dropZoneContainer {
  width : 70%;
  height : 20%;
  border : 1px solid white;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
